// 背景色用変数
$back-ground: #FEFBF8;
$footer-back-ground: #FEFCFD;
$text-back-ground: #FFFFFF;

// 文字色用変数
$text-color: #40414D;

// ラインカラー変数
$line1: #F49F2B;
$line2: #ED7332;
$line3: #B7D44B;

// フォント用変数

// 游明朝体 Demibold
$text-font-family: "游明朝", "YuMincho", serif;
$text-font-weight: bold;
