// メディアクエリ定義
$breakpoint: (
  lg: 'screen and (max-width: 1200px)',
  md: 'screen and (max-width: 768px)',
  mn: 'screen and (max-width: 425px)',
  ) !default;

//mixinを定義（初期値はmd）
@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

// 背景色用変数
$back-ground: #fefbf8;
$footer-back-ground: #fefcfd;
$text-back-ground: #ffffff;

// 文字色用変数
$text-color: #40414d;

// ラインカラー変数
$line1: #f49f2b;
$line2: #ed7332;
$line3: #b7d44b;

// フォント用変数

// 游明朝体 Demibold
$text-font-family: "游明朝",
  "YuMincho",
  serif;
$text-font-weight: bold;

body {
  background-color: $back-ground;
  color: $text-color;
}

footer {
  background-color: $footer-back-ground;
}