@import "base";

body {
  background-color: rgb(243, 229, 181);
}
.search {
  width: 100%;
  height: 100px;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  &_recipe {
    position: relative;
    margin-right: 20px;
    &_box {
      width: 300px;
      height: 50px;
      border-radius: 10px;
    }
    &_allow {
      position: absolute;
      right: 5%;
      content: "";
      width: 0.6em;
      height: 0.6em;
      border-top: 2px solid rgb(120, 120, 120);
      border-right: 2px solid rgb(120, 120, 120);
      position: absolute;
      bottom: 0;
      right: 10px;
      margin: auto;
      &:hover {
        cursor: pointer;
      }
    }
    &_menu {
      position: absolute;
      top: 70px;
      border: 1px solid #000;
      border-radius: 5px;
      width: 400px;
      height: 250px;
      z-index: 2;
      background-color: #fff;
      &_title {
        font-size: 20px;
        font-weight: 500;
        margin: 10px;
      }
      &_keyword {
        margin: 5px 10px;
        font-size: 15px;
        font-weight: 100;
      }
      &_inkeyword {
        margin: 5px 10px;
      }
      &_notinkeyword {
        margin: 10px;
      }
      &_material {
        margin: 10px;
        font-size: 15px;
        font-weight: 100;
      }
      &_inmaterial {
        margin: 5px 10px;
      }
      &_notinmaterial {
        margin: 5px 10px;
      }
    }
  }
  &_button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }
}

.dawn {
  top: -5px;
  transform: rotate(135deg);
}

.up {
  top: 0px;
  transform: rotate(-45deg);
}

.hyde {
  display: none;
}

.recipes {
  width: 70%;
  height: 100vh;
  background-color: #fff;
  margin: 10px auto 0 auto;
  border: 1px solid #000;
  &_title {
    font-size: 100px;
    text-align: center;
  }
  &_slide {
    position: relative;
    display: none;
    justify-content: center;
    // margin-top: 50px;
    & img {
      position: absolute;
      width: 100%;
      height: 500px;
      &:not(:first-child) {
        display: none;
      }
    }
  }
}
