// nakano

.index {
  z-index: 1;
  color: $text-color;
  font-family: $text-font-family;
  font-weight: $text-font-weight;
  background: $back-ground;

  // 横並び配置
  &_flex {
    display: flex;
    justify-content: space-around;
    padding: 10%;
    @include mq(mn) {
      display: block;
    }
    // サブタイトル画像
    &_pic {
      height: 50%;
      width: 50%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      transition: all 1.5s;
      @include mq(mn) {
        width: 100%;
        height: 100%;
        margin-top: 50px;
      }
    }
    &_title {
      writing-mode: vertical-rl;
      margin: auto 0;
      padding: 0 10%;
      &_text {
        font-size: 50px;
      }
      .first {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 0%;
          background-color: $line1;
          transition: all 0.4s;
        }
      }
      .middle {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 0%;
          background-color: $line1;
          transition: all 0.4s;
        }
      }
      .last {
        display: inline-block;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 0%;
          background-color: $line1;
          transition: all 0.4s;
        }
      }
      .write_verticle {
        &::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: $line1;
          transition: all 0.4s;
        }
      }
    }
  }

  &_cscp {
    &_title {
      font-size: 45px;
      text-align: center;
      width: 30%;
      margin: 50px auto;
      padding-bottom: 10px;
      border-bottom: 2px solid $line1;
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        position: absolute;
        bottom: -10px;
        right: -10px;
        height: 20px;
        border-radius: 15px;
        background-color: $line1;
      }
    }
    &_text {
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      transition: all 1.5s;
      font-size: 20px;
      line-height: 1.8;
      padding: 20px;
      width: 60%;
      margin: 0 auto;
      background-color: $text-back-ground;
    }
  }

  &_recipe {
    &_title {
      font-size: 45px;
      font-family: "游明朝", "YuMincho", serif;
      font-weight: bold;
      text-align: center;
      width: 30%;
      margin: 0 auto;
      padding-top: 120px;
      padding-bottom: 10px;
      border-bottom: 2px solid $line1;
      position: relative;
      @include mq(md) {
        width: 50%;
        font-size: 42px;
      }
      @include mq(mn) {
        width: 50%;
        font-size: 32px;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        position: absolute;
        bottom: -10px;
        right: -10px;
        height: 20px;
        border-radius: 30px;
        background-color: $line1;
      }
    }
    &_list {
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin: 0 auto;

      &_item {
        width: 25%;
        border: 2px solid $text-back-ground;
        border-radius: 15px;
        background-color: $text-back-ground;
        padding: 1%;
        margin: 80px 3% 20px 3%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        &:nth-child(1) {
          transition: all 1.5s;
        }
        &:nth-child(2) {
          transition: all 1.5s;
          transition-delay: 0.2s;
        }
        &:nth-child(3) {
          transition: all 1.5s;
          transition-delay: 0.4s;
        }
        &:nth-child(4) {
          transition: all 1.5s;
        }
        &:nth-child(5) {
          transition: all 1.5s;
          transition-delay: 0.2s;
        }
        &:nth-child(6) {
          transition: all 1.5s;
          transition-delay: 0.4s;
        }
        @include mq(lg) {
          &:nth-child(1) {
            transition: all 1.5s;
          }
          &:nth-child(2) {
            transition: all 1.5s;
            transition-delay: 0.2s;
          }
          &:nth-child(3) {
            transition: all 1.5s;
          }
          &:nth-child(4) {
            transition: all 1.5s;
            transition-delay: 0.2s;
          }
          &:nth-child(5) {
            transition: all 1.5s;
          }
          &:nth-child(6) {
            transition: all 1.5s;
            transition-delay: 0.2s;
          }
        }
        @include mq(md) {
          &:nth-child(1) {
            transition: all 1.5s;
          }
          &:nth-child(2) {
            transition: all 1.5s;
          }
          &:nth-child(3) {
            transition: all 1.5s;
          }
          &:nth-child(4) {
            transition: all 1.5s;
          }
          &:nth-child(5) {
            transition: all 1.5s;
          }
          &:nth-child(6) {
            transition: all 1.5s;
          }
        }
        @include mq(lg) {
          width: 30%;
          padding: 2.2%;
          margin: 20px 7.5% 20px 7.5%;
        }
        @include mq(md) {
          width: 100%;
        }
        &:hover {
          border: 2px solid $line1;
          border-radius: 15px;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
        &_title {
          font-size: 30px;
          text-align: center;
          width: 60%;
          margin: 20px auto;
          border-bottom: 2px solid $line2;
          position: relative;
          color: $line2;
          &::after {
            content: "";
            display: inline-block;
            width: 15px;
            position: absolute;
            bottom: -8px;
            right: -10px;
            height: 15px;
            border-radius: 30px;
            background-color: $line2;
          }
        }
        &_comment {
          width: 90%;
          margin: 10px auto 0 auto;
          text-align: center;
          font-size: 20px;
        }
        &_more {
          text-align: center;
          margin: 10px auto 0px auto;
          width: 45%;
          background-color: $text-color;
          color: $text-back-ground;
          padding: 0 10px;
          font-size: 40px;
          transition: all 0.4s;
          &:hover {
            cursor: pointer;
            transition: all 0.4s;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
          }
        }
      }
    }
  }
}

// タイトル画像
.body_header {
  width: 100%;
  height: 100vh;
  &::after {
    content: "";
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../images/2.png);
    position: fixed;
    z-index: -1;
  }
}

#recipes {
  background-color: $back-ground;
}

.fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
