.recipe {
  &_introduction {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 95%;
    @include mq(lg) {
      display: block;
      text-align: center;
    }
    img {
      max-width: 60%;
      max-height: 60%;
      @include mq(lg) {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &_summary {
      width: 30%;
      @include mq(lg) {
        width: 95%;
      }
      &_title {
        margin: 1em;
        font-family: "游明朝", "YuMincho", serif;
        font-weight: bold;
        display: inline-flex;
        font-size: 40px;
        text-align: center;
        position: relative;
        border-bottom: 3px solid $line1;
        &::after {
          content: "";
          display: inline-block;
          width: 20px;
          position: absolute;
          bottom: -11px;
          right: -20px;
          height: 20px;
          border-radius: 15px;
          background-color: $line1;
        }
      }
      &_materials {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $line2;
        margin: 1em;
        position: relative;
        &::after {
          content: "";
          display: inline-block;
          width: 15px;
          position: absolute;
          bottom: -8px;
          right: -10px;
          height: 15px;
          border-radius: 15px;
          background-color: $line2;
        }
        &_text {
          font-size: 30px;
        }
      }
    }
  }
  &_detail {
    h2 {
      font-family: $text-font-family;
      font-weight: $text-font-weight;
      font-size: 40px;
      margin: 3em 2em 1em 2em;
      padding: 20px;
      border: 3px solid $line1;
      border-radius: 20px;
      text-align: center;
      background-color: $text-back-ground;
      @include mq(mn) {
        font-size: 30px;
      }
    }
    &_ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &_list {
        background-color: $text-back-ground;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        border-radius: 50px;
        width: 20%;
        font-size: 30px;
        margin: 20px;
        padding: 50px;
        border: 2px solid $line3;
        &:nth-child(1) {
          transition: opacity 1s, visibility 1s, transform 1s;
        }
        &:nth-child(2) {
          transition: opacity 1s, visibility 1s, transform 1s;
          transition-delay: 0.2s;
        }
        &:nth-child(3) {
          transition: opacity 1s, visibility 1s, transform 1s;
          transition-delay: 0.4s;
        }
        &:nth-child(4) {
          transition: opacity 1s, visibility 1s, transform 1s;
        }
        &:nth-child(5) {
          transition: opacity 1s, visibility 1s, transform 1s;
          transition-delay: 0.2s;
        }
        &:nth-child(6) {
          transition: opacity 1s, visibility 1s, transform 1s;
          transition-delay: 0.4s;
        }
        @include mq(lg) {
          width: 33%;
          &:nth-child(1) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(2) {
            transition: opacity 1s, visibility 1s, transform 1s;
            transition-delay: 0.2s;
          }
          &:nth-child(3) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(4) {
            transition: opacity 1s, visibility 1s, transform 1s;
            transition-delay: 0.2s;
          }
          &:nth-child(5) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(6) {
            transition: opacity 1s, visibility 1s, transform 1s;
            transition-delay: 0.2s;
          }
        }
        @include mq(md) {
          width: 90%;
          &:nth-child(1) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(2) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(3) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(4) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(5) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
          &:nth-child(6) {
            transition: opacity 1s, visibility 1s, transform 1s;
          }
        }
        img {
          max-width: 100%;
          margin: 20px auto;
        }
      }
    }
  }
}

.fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
